@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196F3;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  background-color: var(--primay-white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  list-style: none;
  padding-left: 0;
  margin: 0;
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.adress {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  max-width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  font-weight: 700;
}

.head__logo {
  margin-right: 93px;
}

@media screen and (min-width: 768px) {
  .head__logo {
    width: 134px;
    height: 28px;
    margin-left: 15px;
  }
}

.head__accent {
  color: var(--accent-color);
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 26px 0;
  }
}

.menu-list {
  display: flex;
  align-items: baseline;
}

.menu__link,
.menu__contact-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .menu__link,
  .menu__contact-link {
    display: none;
  }
}

.menu__link:hover, .menu__link:focus,
.menu__link .current,
.menu__contact-link:hover,
.menu__contact-link:focus,
.menu__contact-link .current {
  color: var(--accent-color);
}

.menu__link.current {
  position: relative;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu__link.current {
    padding-bottom: 28px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__link.current {
    padding-bottom: 32px;
  }
}

.menu__link.current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  display: block;
  bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__item + .menu__item {
    margin-top: 10px;
  }
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__item.menu__item--margin {
  margin-left: 0;
}

.header-nav.main {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .menu,
  .contacts__list {
    display: flex;
    align-items: center;
  }
}

.contacts__list {
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts__list {
    display: none;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

/* емейл,телефон */
.menu__contact-link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__contact-link {
    font-size: 12px;
    line-height: 1.17;
  }
  .menu__contact-link .menu__contact-link + .menu__contact-link {
    margin-top: 10px;
  }
}

.menu__item.list {
  padding: 0px;
  margin-left: 0px;
}

.menu__item {
  box-sizing: border-box;
}

.menu__item .menu__header-icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__item .menu__header-icon {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__header-icon.menu__header-icon--size {
    width: 10px;
    height: 14px;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mob-menu_container {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menu-close-btn:hover, .menu-close-btn:focus {
  color: var(--accent-color);
}

.menu-open-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  height: 40px;
}

.menu-open-btn:hover, .menu-open-btn:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-icon,
.menu-close-icon {
  fill: currentColor;
}

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob__link.current, .mob__link:hover, .mob__link:focus {
  color: var(--accent-color);
}

.moby-contact__link.current {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.moby__item--margin {
  margin-bottom: 10px;
  margin-top: 32px;
}

.moby-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.moby-contact__link:hover, .moby-contact__link:focus {
  color: var(--accent-color);
}

.messanger-list {
  display: flex;
  align-items: baseline;
  margin-top: 64px;
  flex-wrap: wrap;
}

.messanger__item {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
}

.messanger__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.messanger__item .link {
  color: var(--accent-color);
}

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  align-items: center;
  background: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
}

.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 480px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_480.jpg);
  background-size: 480px 400px;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_480@2x.jpg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_768.jpg);
    background-size: 768px 400px;
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_768@2x.jpg);
  }
}

@media screen and (min-width: 481px) and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_1200.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 481px) and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg_1200@2x.jpg);
  }
}

@media screen and (min-width: 481px) and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  text-transform: uppercase;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 650px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 320ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  z-index: 100;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}

.modal-button-icon:hover {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 41px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}

.modal-input:focus, .modal-input:hover {
  border-color: var(--accent-color);
}

.modal-field {
  margin-bottom: 10px;
}

.modal-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  font-size: 12px;
  resize: none;
  cursor: pointer;
  outline: none;
}

.modal-text:hover, .modal-text:focus {
  border: 1px solid #2196f3;
}

.modal-field-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 11px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus + .modal-icon,
.modal-input:hover + .modal-icon {
  fill: var(--accent-color);
}

.modal_input:focus + .modal-icon,
.modal_input:hover + .modal-icon {
  fill: var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.check-icon {
  fill: transparent;
}

.modal-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.modal-check:checked + .check-text .check-icon {
  fill: var(--primary-white-color);
}

.condition {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .condition {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.conditionals {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .conditionals {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

.send-button {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  align-items: center;
  background: var(--accent-color);
  color: var(--primary-white-color);
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
}

.about-subtitle {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-subtitle {
    text-align: left;
  }
}

.about-list {
  margin-top: 0px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.about-description {
  line-height: 1.71;
}

.about-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .about-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .about-item {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.about-soc-list {
  width: 100%;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  padding-top: 0px;
}

@media screen and (max-width: 1199px) {
  .work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.work-list {
  align-items: center;
  justify-content: space-between;
}

/*-------- */
.work-fon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.work-item {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .work-text {
    position: absolute;
    bottom: 0;
    width: 370px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team {
  margin-top: 0px;
  margin-bottom: 0px;
  background: #f5f4fa;
}

.team-section {
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-subtitle {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--secondary-text-color);
}

.team-list {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.team-item {
  max-width: 450px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item {
    margin-left: 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}

.thumb {
  padding: 30px 32px;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-top: 16px;
}

.team-soc-item + .team-soc-item {
  margin-left: 10px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover {
  background-color: var(--accent-color);
}

.team-soc-icon {
  fill: #afb1b8;
}

.team-soc-link:hover .team-soc-icon {
  fill: #f5f4fa;
}

.customers {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--primary-white-color);
}

.customers-list-item {
  display: flex;
  width: 210px;
  height: 92px;
  margin-left: 30px;
  margin-bottom: 30px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .customers-list-item {
    width: 226px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list-item {
    width: 170px;
  }
}

.customers-list-item + .customers-list-item {
  margin-left: 30px;
}

.customers-list-item:hover {
  color: var(--accent-color);
  border-color: 1px solid var(--accent-color);
  border-radius: 4px;
}

.customers-list-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.customers-list-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-list-item:hover .customers-list-icon {
  fill: var(--accent-color);
}

.customers-list {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 1200px) {
  .customers-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.portfolio-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: var(--secondary-text-color);
  cursor: pointer;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover, .portfolio-btn:focus,
.portfolio-btn .current {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item {
  margin-right: 8px;
  margin-top: 15px;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -8px;
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .btn-list {
    justify-content: center;
  }
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.card-item {
  margin: 15px;
  max-width: 450px;
  background-color: #ffffff;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .card-item {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .card-item {
    max-width: 370px;
  }
}

.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.card__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-top {
  position: relative;
  overflow: hidden;
}

.card-top:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-top-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: 250ms;
}

.card-item:hover .card-top-text {
  transform: translate(0);
}

/* -------- */
.thumbs {
  padding: 20px 24px;
  text-align: left;
  flex-grow: 1;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.card-desc {
  margin-top: 4px;
  margin-bottom: 0px;
  padding: 0px;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.footer {
  background: #2f303a;
}

.footer-flex {
  margin-bottom: 60px;
}

.footer-container {
  margin: auto;
  max-width: 480px;
  padding: 60px 15px;
  text-align: center;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-container {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    max-width: 1200px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.adress__item {
  margin-bottom: 9px;
}

.footer .logo {
  color: var(--primary-white-color);
  margin-right: 0px;
  margin-bottom: 20px;
  display: block;
}

.footer-adress__link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-white-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 10px;
}

.contact__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 1.71;
  padding: 0px;
}

.contact__link:hover, .contact__link:focus,
.contact__link .current {
  color: var(--accent-color);
}

.soc__title {
  color: #ffffff;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-soc__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.footer-soc__item {
  width: 44px;
  height: 44px;
  margin-top: 10px;
  border-radius: 50%;
  background-color: #3d3939;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc__item + .footer-soc__item {
  margin-left: 10px;
}

.footer-soc__item:hover {
  background-color: var(--accent-color);
}

.footer-soc__link {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-soc__item:hover .footer-soc__icon {
  fill: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: flex;
    justify-content: space-between;
  }
}

.mailng__par {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .mailng__par {
    display: flex;
    justify-content: flex-start;
  }
}

.footer-button__icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

.footer__input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 358px;
  height: 50px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer__input {
    margin-bottom: 0;
    margin-right: 10px;
    width: 358px;
  }
}

.footer__but {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 29px;
  margin: auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: #2196f3;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__but {
    margin: auto;
  }
}

.footer__thumb {
  flex-grow: 1;
}

@media screen and (min-width: 768px) {
  .footer__thumb {
    display: flex;
    padding-left: 61px;
    padding-right: 74px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .footer__thumb {
    padding-left: 0;
    padding-right: 93px;
  }
}

@media screen and (min-width: 768px) {
  .footer-soc {
    padding-top: 11px;
  }
}
/*# sourceMappingURL=main.css.map */