.header {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
  @media screen and(min-width: 768px) {
    padding: 21px 0;
  }

  @media screen and(min-width: 1200px) {
    padding: 26px 0;
  }
}

.menu-list {
  display: flex;
  align-items: baseline;
}
.menu__link,
.menu__contact-link {
  //   padding-top: 32px;
  //   padding-bottom: 32px;

  @media screen and (max-width: 767px) {
    display: none;
  }
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  .current {
    color: var(--accent-color);
  }
}

.menu__link.current {
  position: relative;
  //margin-right: 30px;
  color: var(--accent-color);
  @media screen and(min-width: 768px) {
    padding-bottom: 28px;
  }
  @media screen and(min-width: 1200px) {
    padding-bottom: 32px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    display: block;
    bottom: 0px;
  }
}

// .menu__item:not(:last-child) {
//   margin-right: 50px;
// }
.menu__item + .menu__item {
  @media screen and(min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
}

.menu__item + .menu__item {
  margin-left: 30px;
}

.menu__item.menu__item--margin {
  margin-left: 0;
}

.header-nav.main {
  display: flex;
  align-items: center;
}

.menu,
.contacts__list {
  @media screen and(min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contacts__list {
  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header .container {
  display: flex;
  align-items: center;
}

/* емейл,телефон */

.menu__contact-link {
  display: flex;
  align-items: center;
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    .menu__contact-link + .menu__contact-link {
      margin-top: 10px;
    }

    font-size: 12px;
    line-height: 1.17;
  }

  color: var(--primary-text-color);
  margin-left: 10px;
}

.menu__item.list {
  padding: 0px;
  margin-left: 0px;
}

.menu__item {
  box-sizing: border-box;
}

.menu__item .menu__header-icon {
  fill: currentColor;
  margin-right: 10px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.menu__header-icon.menu__header-icon--size {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 10px;
    height: 14px;
  }
}

// мобильное меню

// > .mob-menu_container {
//   padding-top: 40px;
//   padding-bottom: 40px;
//   display: flex;
//   align-items: center;
// }

// > .mob-menu_container {
//   padding-top: 40px;
//   padding-bottom: 40px;
//   margin-left: 40px;
//   align-items: center;
// }

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  overflow: auto;

  // .container {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   height: 100%;
  // }
}

.mob-menu_container {
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #ffffff;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.menu-open-btn {
  margin-left: auto;
  background: transparent;
  border: none;
  height: 40px;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-open-icon,
.menu-close-icon {
  fill: currentColor;
}

// .mob-list {
//   .mob__link:not(:last-child) {
//     margin-bottom: 35px;
//   }
// }

.mob__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob__link {
  // display: flex;
  // margin-bottom: 35px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: #212121;
  &.current,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.moby-contact__link.current {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.moby__item--margin {
  margin-bottom: 10px;
  margin-top: 32px;
}

.moby-contact__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.messanger-list {
  display: flex;
  // justify-content: center;
  align-items: baseline;
  margin-top: 64px;
  flex-wrap: wrap;
}

.messanger__item {
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  &:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  & .link {
    color: var(--accent-color);
  }

  // margin-right: 10px;
  // &:not(:last-child) {
  //   .messanger__con-link {
  //     font-weight: 500;
  //     font-size: 18px;
  //     line-height: calc(22 / 18);
  //     letter-spacing: 0.02em;
  //     color: var (--accent-color);
  //     &::after {
  //       content: '';
  //       margin-left: 10px;
  //       height: 22px;
  //       border-right: 1px solid rgba(33, 33, 33, 0.2);
  //     }
  //   }
  // }
}
// .messanger__con-link::after {
//   content: '';
//   width: 22px;
//   height: 0px;
//   border: 1px solid rgba(33, 33, 33, 0.2);
//   transform: rotate(90deg);
// }
